body{
    position: fixed;
    display: block;
    overflow: scroll;
    top: 0;
}
div.main{
    position: relative;
    display: block;
    background-color: white;
    width: 720px;
}
div.main div.navigation_bar{
    position: fixed;
    display: block;
    z-index: 150;
    width: 720px;
    height: 95px;
    top: 50px;
    left: 0;
    margin: 0;
    background-color: #0185f1;
    overflow-y: hidden;
}
div.main div.navigation_bar div.navigation_window{
    position: absolute;
    display: block;
    height: 95px;
    width: 630px;
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 25;
}
div.main div.navigation_bar div.navigation_window div.navigation_area{
    position: relative;
    display: block;
    height: 95px;
    margin: 0;
    font-size: 0;
}
div.main div.navigation_bar div.navigation_window div.navigation_area div.navigation_item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 95px;
    width: 105px;
    margin: 0;
    text-align: center;
}
div.main div.navigation_bar div.navigation_window div.navigation_area div.navigation_item span{
    position: relative;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 35px;
    color: #ffffff;
}
div.main div.navigation_bar div.more{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 95px;
    width: 90px;
    margin: 0;
    z-index: 50;
}
div.main div.navigation_bar div.more img{
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    margin-bottom: 0;
}
div.main div.content_window{
    position: fixed;
    display: block;
    z-index: 100;
    width: 720px;
    height: 1050px;
    top: 145px;
    background-color: red;
    overflow-y: scroll;
    margin: 0;
}
div.main div.bottom_tab_bar{
    position: fixed;
    display: block;
    z-index: 150;
    width: 720px;
    height: 95px;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: #0185f1;
}