body{
    position: fixed;
    display: block;
    overflow: scroll;
    top: 0;
}
div#main{
    position: relative;
    display: block;
    background-color: white;
    width: 720px;
    margin: 0;
}

/* To setup the layout of the top bar */
div#main div.top_bar{
    position: fixed;
    display: block;
    z-index: 150;
    width: 720px;
    height: 95px;
    background-color: white;
    top: 50px;
    left: 0;
    margin: 0;
}
div#main div.top_bar img#top_back_button{
    position: absolute;
    display: block;
    height: 45px;
    width: 25px;
    top: 25px;
    left: 25px;
    margin: 0;
}

/* To setup the layout of the centered content panel */
div#main div.content{
    position: fixed;
    display: block;
    z-index: 100;
    top: 145px;
    left: 0;
    width: 720px;
    height: 1000px;
    margin: 0;
    background-color: white;
    overflow-y: scroll;
}

/* To setup the bottom bar */
div#main div.bottom_bar{
    position: fixed;
    display: block;
    z-index: 150;
    width: 720px;
    height: 100px;
    background-color: white;
    left: 0;
    bottom: 0;
    border-top: 2px solid #dddddd;
    font-size: 0;
}
div#main div.bottom_bar input#new_comment{
    position: absolute;
    display: block;
    left: 20px;
    top :20px;
    width: 290px;
    height: 60px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 30px;
    padding-left: 35px;
    padding-right: 35px;
    color: black;
    margin: 0;
}
div#main div.bottom_bar div.comment_infor{
    position: absolute;
    display: block;
    height: 50px;
    width: 90px;
    top: 25px;
    right: 85px;
    margin: 0;
}
div#main div.bottom_bar div.comment_infor img{
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    margin: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}
div#main div.bottom_bar div.comment_infor div.comment_count{
    position: absolute;
    display: block;
    z-index: 2;
    right: 0;
    top: 0;
    width: 65px;
    height: 25px;
    margin: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff253f;
}
div#main div.bottom_bar div.comment_infor div.comment_count span{
    position: relative;
    display: block;
    z-index: 3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    color: white;
    width: 65px;
    height: 25px;
    font-size: 20px;
    padding-top: 2px;
    text-align: center;
}
div#main div.bottom_bar img#add_collection{
    position: absolute;
    display: block;
    top: 25px;
    right: 20px;
    width: 50px;
    height: 50px;
    margin: 0;
}