body{
    position: fixed;
    display: block;
    overflow: scroll;
    top: 0;
}
div#main{
    position: relative;
    display: block;
    background-color: #f4f4f4;
    width: 720px;
}

/* The css layout for the top bar */
div#main div.top_bar{
    position: fixed;
    display: block;
    width: 720px;
    top: 50px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
div#main div.top_bar img:first-child{
    position: absolute;
    display: block;
    height: 40px;
    width: 20px;
    margin: 0;
    padding: 0;
    top: 30px;
    right: 50px;
}
div#main div.top_bar img:last-child{
    position: absolute;
    display: block;
    height: 40px;
    width: 20px;
    top: 30px;
    right: 30px;
    margin: 0;
    padding: 0;
}

/* The css layout for the main content panel */
div#main div.main_content{
    position: fixed;
    display: block;
    width: 720px;
    height: 1110px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    top: 150px;
    left: 0;
}
span.title{
    position: relative;
    display: block;
    width: 660px;
    text-align: left;
    font-size: 26px;
    color: #8b8b8b;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}
div#main div.main_content div.current_subscribe, div.subscribe_recommendation{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0;
}
div#main div.main_content div.current_subscribe div.subscribe_item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 0;
    height: 66px;
    width: 150px;
    background-color: white;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div#main div.main_content div.current_subscribe div.subscribe_item:nth-of-type(4n+0){
    margin-right: 0;
}
div#main div.main_content div.current_subscribe div.subscribe_item span{
    position: relative;
    display: block;
    margin: 18px auto;
    color: black;
    font-size: 30px;
    text-align: center;
}

/* The css layout for the subscribe columns search panel */
div#main div.main_content div.subscribe_recommendation{
    position: relative;
    overflow: hidden;
}
div#main div.main_content div.subscribe_recommendation div.subscribe_search{
    position: relative;
    display: block;
    width: 660px;
    height: 67px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 0;
}
div#main div.main_content div.subscribe_recommendation div.subscribe_search div.input_field{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*left: 0;*/
    /*top: 0;*/
    width: 535px;
    height: 65px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div#main div.main_content div.subscribe_recommendation div.subscribe_search div.input_field img{
    position: absolute;
    display: block;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 17px;
    left: 20px;
}
div#main div.main_content div.subscribe_recommendation div.subscribe_search div.input_field input[type=text]{
    position: absolute;
    display: block;
    margin: 0;
    background: transparent;
    height: 31px;
    width: 445px;
    left: 70px;
    top: 17px;
    border: 0;
    font-size: 30px;
    color: black;
}
div#main div.main_content div.subscribe_recommendation div.subscribe_search button#search_submit{
    position: relative;
    display: inline-block;
    width: 80px;
    /*height: 31px;*/
    /*text-align: center;*/
    /*right: 0;*/
    /*top: 18px;*/
    vertical-align: middle;
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
    border: 0;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 17px;
    margin-bottom: 17px;
    background: transparent;
}
div#main div.main_content div.subscribe_recommendation div.gallery{
    position: relative;
    display: block;
    font-size: 0;
    overflow: hidden;
    margin-top: 5px;
}
div#main div.main_content div.subscribe_recommendation div.gallery div.subscribe_item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 0;
    height: 66px;
    width: 150px;
    background-color: white;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div#main div.main_content div.subscribe_recommendation div.gallery div.subscribe_item:nth-of-type(4n+0){
    margin-right: 0;
}
div#main div.main_content div.subscribe_recommendation div.gallery div.subscribe_item span.subscribe_item_id{
    display: none;
}
div#main div.main_content div.subscribe_recommendation div.gallery div.subscribe_item span:not(.subscribe_item_id){
    position: relative;
    display: block;
    margin: 18px auto;
    color: black;
    font-size: 30px;
    text-align: center;
}